<!DOCTYPE html>
<html>
<head>
	<title>Catalog</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<% products.map(item=>{ %>
		<p>Product Name: <%=item.pname%></p>
		<p>Description: <%=item.description%></p>
		<p>Price: <%=item.price%></p>
		<p>Left In Stock: <%=item.stock%></p>
		<p>Company: <%=item.cname%></p>
		<form action="" method="post">
			<input type="hidden" id="cartData" name="cartData" value=<%=item.product_id%>/>
    		<input type="submit" />
		</form>
		<p>-----------------------------</p>
	<% }) %>
</body>
</html>